.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
  margin-bottom: 1em;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member {
  width: 15%;
  margin-bottom: 1em;
  text-align: center;
}

.member img {
  border-radius: 25%;
  width: 85%;
}

.member h3 {
  margin: 0.5em 0;
}
