.container {
    display: flex;
    justify-content: center;
}

.item {
    flex: 01 0 200px;
}

.folder {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}