{% extends "base.html" %} {% block title %}Services{% endblock %} {% block content %}
<h1 align="center">Decoration & Repair</h1>
<h2 align="center">Services</h2>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Price</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    {% for item in services %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.price }}$</td>
        <td>
            <button class="btn btn-outline btn-info">More Info</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
{% endblock %}